.background {
    background-color: whitesmoke;
}

.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #100901;
    transition: 0.5s;
}

.home {
    color: #777;
    font-size: 30px;
}

#title {
    color: #cecece;
    font-size: larger;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    padding-left: 5px;
    color: #777 !important;
    background-color: #ffff;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 180px;
}

#menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
}